body {
    background: linear-gradient(to right, #009688, #4caf50);
    color: #ffffff; /* Text Color */
}

.custom-logo, .highlight, .title {
    color: #c8e6c9; /* Highlighted Text Color */
}

.profile-img, .custom-logo {
    border-color: #c8e6c9; /* Matching border color */
}

.profile-img{
    border-radius: 50% 50% 35% 65% / 65% 35% 50% 50%;
}
